@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/*CSS RESET for full bleed*/
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body h2 {
    font-size: 90px;
    padding-top: .5em;
}

/* -----------------------------------------------------------------
Navigation Bar 
----------------------------------------------------------------- */

/*padding pushed outside, margin pushes inside*/

.nav-heading {
    padding: 1em 1em 1em 1em;
    background-color: #bc4c4a;
    display: flex;
}


.burger {
    display: none;
}

.nav-logo img {
    width: 75px;
}

nav {
    width: 100%;
    text-align: right;
}

nav ul {
    display: block;
}

/* "under the condition that there's a li in a ul in nav" */
nav ul li {
    display: inline-block;
    padding-top: 1em;
    margin: 0 .5em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


section {
    align-items: center;
}

/* -----------------------------------------------------------------
Ice Cream Dreams Section 
----------------------------------------------------------------- */
.ice-cream-dreams-sec {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #fafce7;
}

.logo-and-text {
    display: flex;
    align-items: center;
    margin: 8em;
}

.large-logo img {
    width: 200px;
    margin-right: 1em;
}

.logo-and-text h1 {
    font-family: "Passion One";
    font-size: 120px;
    color: #bc4c4a;
    margin: 0;
    /* white-space: nowrap; */
}

/* -----------------------------------------------------------------
Featured Flavors Section
----------------------------------------------------------------- */
.featured-flavors-sec {
    text-align: center;
    background-color: #3d7f96;
    height: auto;
    font-family: "Passion One";
    color: white;
}

.flavor-container {
    padding: 5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.featured-flavors-sec h2 {
    margin: 0;
    padding: 0em, 1em;
}

.flavor-container div p {
    margin: 5px;
    font-size: 35px;
}

/* .flavor-container div {
    padding: 0em 2em;
} */

/*not sure if it should be adaptive?*/
.flavor-container img {
    flex: 1;
    width: 60%;
    border-radius: 50%;
    border: 6px solid white;
}

/* -----------------------------------------------------------------
Locations Section
----------------------------------------------------------------- */
.locations-section {
    background-color: #fafce7;
    text-align: center;
    font-family: "Passion One";
    justify-content: center;
    height: auto;
    padding: 0;
    margin: 0;
}

.locations-section h2 {
    color: #bc4c4a;
    margin: 0;
}

.locations-container {
    justify-content: center;
    align-items: center;
    /*trying it as a flex*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 3em 0em;
}

.locations-container div {
    margin: 1em 2em;
    border: 6px solid #bc4c4a;
    flex-direction: column;
    width: 300px;
}

.locations-container img {
    flex: 1;
    width: 100%;
    display: block;
}

.locations-container h3 {
    text-align: left;
    padding: .5em .5em;
    font-size: 25px;
    color: white;
    background-color: #bc4c4a;
    margin: 0;
}

.locations-container p {
    text-align: left;
    padding: .5em .5em;
    font-family: Roboto;
}

.locations-container address {
    padding: 1em .5em;
    font-style: normal;
}

.locations-container address p {
    margin: 0;
    padding: 0;
}



/* -----------------------------------------------------------------
Order Online
----------------------------------------------------------------- */

.order-online-sec {
    text-align: center;
    justify-content: center;
    font-family: "Roboto";
    color: white;
    justify-content: center;
    height: auto;
    background-color: #bc4c4a;
    padding: 2em;
}


.order-online-sec h2 {
    font-family: "Passion One";
    margin: 0;
}


.order-online-sec {
    text-align: center;
    font-family: "Roboto";
}


/* -----------------------------------------------------------------
Type Responses
----------------------------------------------------------------- */
.form {
    display: flex;
    justify-content: center;
}

.typeResponses {
    padding: 5em 0em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    max-width: 600px;
    margin: auto;
}

.question {
    display: flex;
    flex-direction: column;
}

.question label {
    margin-bottom: 1em;
    align-self: flex-start;
}

.typeResponses input[type="text"] {
    height: 35px;
    width: 100%;
    background-color: white;
    border: none;
    padding: 0.5em;
}


/* -----------------------------------------------------------------
Checkboxes
----------------------------------------------------------------- */
fieldset {
    border-style: none;
}


.checkbox-container {
    max-width: 600px;
    margin: auto;
    /* padding: 2em; */
    justify-content: center;
}

.checkbox-container p {
    display: flex;
    text-align: left;
    /* padding: 10px; */
}


.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}

.checkbox-item {
    display: flex;
    align-items: center;
}



.checkbox-item input[type="checkbox"] {
    margin-right: 0.5em;
    flex: 0 0 auto;

}




/* -----------------------------------------------------------------
Dropdown Select
----------------------------------------------------------------- */


.dropdowns {
    padding: 5em 0em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    max-width: 600px;
    margin: auto;
}

.select-wrapper {
    display: flex;
    flex-direction: column;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
}

.dropdown-container label {
    margin-bottom: 1em;
    align-self: flex-start;
}

.dropdown-container select {
    font-family: Roboto;
    height: 35px;
    width: 100%;
    background-color: white;
    border: none;
    padding: 0.5em;
}


/* -----------------------------------------------------------------
Button
----------------------------------------------------------------- */
.submit-section {
    padding-top: 1em;
    max-width: 600px;
    margin: auto;
}

.submit-button {
    background-color: white;
    color: #bc4c4a;
    border-radius: 5px;
    border: none;
    padding: 1em 3em;
    display: flex;
    align-items: left;
}


/* -----------------------------------------------------------------
Footer
----------------------------------------------------------------- */
.footer-sec {
    height: auto;
    text-align: center;
    font-family: Roboto;
    color: white;
    background-color: #3d7f96;
}

.footer-sec p {
    padding: 2em;
    margin: 0;
}



/*adapting it for a phone screen now*/
/*
featured flavors should become a grid of 4
location cards show appear in a column of four
typebox forms should be one on top of the other
checkboxes should also be one on top of the other
*/
@media only screen and (max-width: 768px) {
    /* -----------------------------------------------------------------
Navigation Bar 
----------------------------------------------------------------- */

    section {
        align-items: center;
    }

    nav ul {
        display: none;
    }

    .burger {
        display: contents;
    }

    .burger img {
        width: 50px;
        margin-top: 1.25em;
    }

    /* -----------------------------------------------------------------
Ice Cream Dreams Section
- make the image appear on top of the text
----------------------------------------------------------------- */

    .ice-cream-dreams-sec img {
        height: 150px;
        margin: 1em;
    }

    .logo-and-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .logo-and-text h1 {
        font-size: 80px;
        white-space: nowrap;
    }

    /* -----------------------------------------------------------------
MAKE GRID AND STACK
----------------------------------------------------------------- */

    /*make the flavors go to a 4x4 grid*/
    .flavor-container {
        grid-template-columns: repeat(2, 1fr);
    }


    /*make the location cards stack on top of one anotehr*/
    .locations-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*make the forms appear as columns*/
    .typeResponses {
        grid-template-columns: repeat(1, 1fr);
    }

    .checkbox-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .dropdowns {
        grid-template-columns: repeat(1, 1fr);
    }


}