@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/*CSS RESET for full bleed*/
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body h2 {
    font-size: 90px;
    padding-top: .5em;
}

/*padding pushed outside, margin pushes inside*/

.nav-heading {
    padding: 1em 1em 1em 1em;
    background-color: #bc4c4a;
    display: flex;
}

.burger img {
    width: 50px;
    margin-top: 1.25em;
}

.nav-logo img {
    width: 75px;
}

nav {
    width: 100%;
    text-align: right;
}

nav ul {
    display: none;
}

/* under the condition that there's a li in a ul in nav */
nav ul li {
    display: inline-block;
    padding-top: 1em;
    margin: 0 .5em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


section {
    align-items: center;
}

/* -----------------------------------------------------------------
Ice Cream Dreams Section 
----------------------------------------------------------------- */
.ice-cream-dreams-sec {
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: #fafce7;
}

.logo-and-text {
    display: flex;
    align-items: center;
}

.large-logo img {
    width: 300px;
    margin-right: 1em;
}

.logo-and-text h1 {
    font-family: "Passion One";
    font-size: 150px;
    color: #bc4c4a;
    margin: 0;
}

/* -----------------------------------------------------------------
Featured Flavors Section
----------------------------------------------------------------- */
.featured-flavors-sec {
    text-align: center;
    justify-content: center;
    background-color: #3d7f96;
    height: 600px;
    font-family: "Passion One";
    color: white;
}

.flavor-container {
    padding: 1em;
    /* display: inline-flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.featured-flavors-sec h2 {
    padding: .25em;
    margin: 0;
}

.flavor-container div p {
    margin: 5px;
    font-size: 35px;
}

.flavor-container div {
    padding: .5em;
    padding-left: 80px;
    padding-right: 80px;
}

/*not sure if it should be adaptive?*/
.flavor-container img {
    max-width: 100%;
    width: 300px;
    border-radius: 50%;
    border: 6px solid white;
}

/* -----------------------------------------------------------------
Locations Section
----------------------------------------------------------------- */
.locations-section {
    text-align: center;
    font-family: "Passion One";
    justify-content: center;
    height: 800px;
    background-color: #fafce7
}

.locations-section h2 {
    margin: 0;
    color: #bc4c4a;
}

.locations-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    padding: 20px;
}

.locations-container div {
    max-width: max-content;
    margin: 1em 1em;
    border: 6px solid #bc4c4a;
    flex-direction: column;
}

.locations-container img {
    max-width: 100%;
    height: auto;
}

.locations-container h3 {
    text-align: left;
    padding: .5em .5em;
    font-size: 25px;
    color: white;
    background-color: #bc4c4a;
    margin: 0;
}

.locations-container p {
    text-align: left;
    padding: .5em .5em;
    font-family: Roboto;
}

.locations-container address {
    padding: 1em .5em;
    font-style: normal;
}

.locations-container address p {
    margin: 0;
    padding: 0;
}

.footer-sec {
    height: 150px;
    text-align: center;
    font-family: Roboto;
    color: white;
    background-color: #3d7f96;
}



/* -----------------------------------------------------------------
Order Online
----------------------------------------------------------------- */

.order-online-sec {
    text-align: center;
    justify-content: center;
    font-family: "Roboto";
    color: white;
    justify-content: center;
    height: 1000px;
    background-color: #bc4c4a;
}


.order-online-sec h2 {
    font-family: "Passion One";
    margin: 0;
}


.order-online-sec {
    text-align: center;
    font-family: "Roboto";
}

.checkbox-container {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

.checkbox-grid fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: none;
    margin: 0 auto;
    max-width: 400px;
}

.checkbox-grid label {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 100px;
}

.checkbox-grid input[type="checkbox"] {
    margin: 1em 1em;
    width: 3em;
    background-color: white;
}

.dropdowns {
    display: flex;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
}

.dropdowns label {
    text-align: left;
}

.dropdowns select {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.select-wrapper {
    margin: 20px;
}







/*only for non-phone i think*/
@media only screen and (min-width: 600px) {
    nav ul {
        display: block;
    }

    .burger {
        display: none;
    }
}